<h1>New Feedback</h1>

<%= form_for(@feedback) do |f|%>
  <%= f.label :mission %>
  <%= f.collection_select :mission_id, Mission.all, :id, :operation %>
  <%= f.label :notes %>
  <%= f.text_field :notes %>
  <%= f.submit %>
<% end %>