<h1>New Mission</h1>

<% if @mission.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>
    <ul>
      <% @mission.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@mission) do |f| %>

    <%= f.label "Choose Urgency Level" %>
    <%= f.collection_select(:category_id, Category.all, :id, :urgency_level, include_blank: true) %>
    
    <p>New Urgency Level
        <%= f.fields_for :category do |c|%>
            <%= c.text_field :urgency_level %>
        <% end %>
    </p>

    <%= f.label :operation %>
    <%= f.text_field :operation %>
    
    <%= f.label :objective %>
    <%= f.text_field :objective %>
    
    <%= f.submit %>
    
<% end %>