<h1><%= @mission.operation %></h1>
<h2>By: <%= @mission.user.username %> </h2>

<div><%= @mission.objective %></div>

<h4>Feedback:</h4>
<% @mission.feedbacks.each do |f|%>
  <li><strong><%= f.user.username %></strong> says "<%= link_to f.notes, feedback_path(f) %>" </li>
<% end %>