<h1>Operation: <%= @mission.operation %></h1>

<h2>By: <%= @mission.user.username %> </h2>

<h3>Objective: <%= @mission.objective %></h3>

<h3>Urgency Level: <%= @mission.category.try(:urgency_level) %></h3>

<h4>Mission Feedback:</h4>
<% @mission.feedbacks.each do |f|%>
  <li><strong><%= f.user.username %></strong> says "<%= link_to f.notes, feedback_path(f) %>" </li>
<% end %>
<p><%= link_to 'All Mission Feedback', mission_feedbacks_path(@mission) %></p>
<p><%= link_to 'Add Mission Feedback', new_mission_feedback_path(@mission) %></p>