<!DOCTYPE html>
<html>
  <head>
    <!-- <style>
      * {
        text-align: center;
        font-family: Georgia, serif;
        color: #000000;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000000;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #8B0000;
      }
      .active {
        background-color: #4CAF50;
      }
    </style> -->
    <title>Agent Agenda: Mission Possible</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
   <body>
  <br>
    <div>
      <ul>
        <% if logged_in? %>
        <li><%= link_to "New Mission", new_mission_path %></li>
        <li><%= link_to "Add Mission Feedback", new_feedback_path %></li>
        <li><%= link_to "All Missions", missions_path %></li>
        <li><%= link_to "My Missions", user_missions_path(current_user) %></li>
        <li><%= link_to "Home", user_path(current_user)%></li>
        <br><li><%= button_to "Logout", logout_path, method:"delete" %></li>
        <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Log In", login_path %></li>
        <li><%= link_to "Log In With Google", '/auth/google_oauth2' %></li>
        <% end %>
      </ul>
    </div>

    <div>
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
      <%= @error %>
    </div>

    <%= yield %>
    <div class="wrapper">
      <footer class="branding">
        <small>&copy; 2021 <strong>Agent Agenda</strong></small>
      </footer>
    </div>

  </body>
</html>